[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[dev-packages]



[packages]

python-mnist = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
scikit-learn = "*"
sklearn = "*"
"2400f1d" = {path = "./dist/qram-utils-0.1.0.tar.gz"}
"bc9457e" = {path = "./dist/qramutils-0.1.0.tar.gz"}
